doctype html
html
	include inc/head.jade
	body
		- cur = 1
		include inc/header4.jade
		.top-info-0130
			.container
				.info-table.row
					.avatar-box.col-sm-3.col-xs-12
						.box-content
							#outer-circle
								img.img-circle(src="img/0130/avatar.png")
								#inner-circle
									span 认证
					.details-box.col-sm-7.col-xs-12
						.box-content
							.info-detail#left.col-xs-6
								p 姓名：张先生
							.info-detail.col-xs-6
								p 职位：项目经理
							.info-detail#left.col-xs-6
								p 公司：
							.info-detail.col-xs-6
								p 个人网站：
							.info-detail#big.col-xs-12
								p 自我介绍：
					.btn-box.col-sm-2.col-xs-12
						.box-content
							a(href="#")
								p
									i.fi &#xe61d;
									span 投资人认证
							a(href="#")
								p
									i.fi &#xe61c;
									span 资料编辑
							a(href="#")
								p
									i.fi &#xe61e;
									span 账户管理
		.gallery-0020.main-info-0130
			.main-box
				.container
					.heading2
						h4 我收藏的项目
				.container.grid
					.item.row
						.heading2.normal
							h4 医疗类
						- for (i=1; i<5; i++)
							//-square
							.gallery-item.col-sm-3.col-xs-12
								figure
									a(href="#")
										.image(data-content="07:25")
											img(src="img/0020/pic#{i}.jpg")
									figcaption
										p#small-text-right 取消收藏
										a(href="#")
											h5 视频标题名称
										span 一句话简介：开发、技术咨询、技术培训、服务等相关业务和产品销售。
							//-end square
					.item.row
						.heading2.normal
							h4 社交类
						- for (i=1; i<5; i++)
							//-square
							.gallery-item.col-sm-3.col-xs-12
								figure
									a(href="#")
										.image(data-content="07:25")
											img(src="img/0020/pic#{i}.jpg")
									figcaption
										p#small-text-right 取消收藏
										a(href="#")
											h5 视频标题名称
										span 一句话简介：开发、技术咨询、技术培训、服务等相关业务和产品销售。
							//-end square
					.item.row
						.heading2.normal
							h4 O2O类
						- for (i=1; i<5; i++)
							//-square
							.gallery-item.col-sm-3.col-xs-12
								figure
									a(href="#")
										.image(data-content="07:25")
											img(src="img/0020/pic#{i}.jpg")
									figcaption
										p#small-text-right 取消收藏
										a(href="#")
											h5 视频标题名称
										span 一句话简介：开发、技术咨询、技术培训、服务等相关业务和产品销售。
							//-end square
					.item.row
						.heading2.normal
							h4 P2P类
						- for (i=1; i<5; i++)
							//-square
							.gallery-item.col-sm-3.col-xs-12
								figure
									a(href="#")
										.image(data-content="07:25")
											img(src="img/0020/pic#{i}.jpg")
									figcaption
										p#small-text-right 取消收藏
										a(href="#")
											h5 视频标题名称
										span 一句话简介：开发、技术咨询、技术培训、服务等相关业务和产品销售。
							//-end square
					.item.row
						.heading2.normal
							h4 教育类
						- for (i=1; i<5; i++)
							//-square
							.gallery-item.col-sm-3.col-xs-12
								figure
									a(href="#")
										.image(data-content="07:25")
											img(src="img/0020/pic#{i}.jpg")
									figcaption
										p#small-text-right 取消收藏
										a(href="#")
											h5 视频标题名称
										span 一句话简介：开发、技术咨询、技术培训、服务等相关业务和产品销售。
							//-end square
				.container
					.heading2
						h4 评论留言
				.container.grid
					.comment-section
						.heading2.normal
							h4 项目名称1
						.comment-box
							p.date 我的留言:2015年09月29号
							p.text 公司主要从事计算机信息系统专业技术服务，包括软件应用系统开发、技术咨询、技术培训、服务等相关业务和产品销售。公司坚持“面向应用，注重专业”的发展思路，提供专业的应用整体解决体解决体体解决体解决方案和服务。
						.reply-box.media
							.avatar.media-left
								img.media-object(src="img/0130/avatar2.jpg")
							.reply.media-body
								p.blue-date 卖粽子的卡特回复我：2015年09月30号
								p 公司主要从事计算机信息系统专业技术服务，包括软件应用系统开发、技术咨询、技术培训、服务等相关业务和产品销售
								a.reply-btn 回复
					.comment-section
						.heading2.normal
							h4 项目名称2
						.comment-box
							p.date 我的留言:2015年09月29号
							p.text 公司主要从事计算机信息系统专业技术服务，包括软件应用系统开发、技术咨询、技术培训、服务等相关业务和产品销售。公司坚持“面向应用，注重专业”的发展思路，提供专业的应用整体解决体解决体体解决体解决方案和服务。
						.reply-box.media
							.avatar.media-left
								img.media-object(src="img/0130/avatar2.jpg")
							.reply.media-body
								p.blue-date 卖粽子的卡特回复我：2015年09月30号
								p 公司主要从事计算机信息系统专业技术服务，包括软件应用系统开发、技术咨询、技术培训、服务等相关业务和产品销售
								a.reply-btn 回复
					.comment-section
						.heading2.normal
							h4 项目名称3
						.comment-box
							p.date 我的留言:2015年09月29号
							p.text 公司主要从事计算机信息系统专业技术服务，包括软件应用系统开发、技术咨询、技术培训、服务等相关业务和产品销售。公司坚持“面向应用，注重专业”的发展思路，提供专业的应用整体解决体解决体体解决体解决方案和服务。
						.reply-box.media
							.avatar.media-left
								img.media-object(src="img/0130/avatar2.jpg")
							.reply.media-body
								p.blue-date 卖粽子的卡特回复我：2015年09月30号
								p 公司主要从事计算机信息系统专业技术服务，包括软件应用系统开发、技术咨询、技术培训、服务等相关业务和产品销售
								a.reply-btn 回复
					.page.align-right.pull-right
						ul
							li: a(href="#") 首页
							li: a(href="#") 上一页
							li.active: a(href="#") 1
							- for (i=2; i<5; i++)
								li: a(href="#") #{i}
							li: a(href="#") 下一页
							li: a(href="#") 末页
							li
								.gopage
									form#gopage                
										input.ipt-go(type="text")
										input.btn-go(type="submit" value="GO")
		include inc/contact.jade
		include inc/footer.jade
		script.
			$(".custom-select select").change(function() {
				var t = $(this).find(":selected").text();
				$(this).next(".select-text").text(t)
			}).trigger("change");